
html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 5vh;
	
	color: #1a1b1d;
	background: #202020;
}



/* --------------------------------------- */
/* Colors    */

.bg-lightgray { background-color: #d3d4d6; }
.bg-gray { background-color: #c6c7c9; }
.bg-dark { background-color: #202020; }
.bg-orange { background-color: #f68e13; }

.bg-dark, .bg-orange {
	color: #fff; /* Text white on .bg-orange and .bg-dark */
}



/* --------------------------------------- */
/* Basic Layout    */

.row > div {
	text-align: center;
	border-left: 1px solid #909193;
	border-top: 1px solid #909193;
}

.row:first-child  > div {
	border-top: 0;
}

.row > div:first-child {
	border-left: 0;
}

.row > div#value {
	font-size: 12vh;
	text-align: right;

    padding-right: 15px;

	border: 0;

    display: block;
}

.btn {
	border-radius: 0;
    cursor: pointer;

    justify-content: center;
    align-items: center;
}

.btn:hover {
	opacity: 0.8;
}
